* {
    font-size: 24px;
}


body {
    font-family: 'Oswald', sans-serif !important;
    background: rgb(0,189,255) !important;
    background: linear-gradient(90deg, rgba(0,189,255,1) 15%, rgba(242,255,12,1) 100%) !important;
    
}


.center-page {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.comments-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.comments-form {
    padding-left: 20px;
}

.comments-form textarea {
    width: 70%; 
    min-height: 100px;
    border: 1px solid;
}

.comments-panel {
    width: 33%; 
    padding: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.username {
    font-weight: bold;
}

.comment {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 200px;
    margin-top: 12px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid white;
    flex-direction: column;
    overflow: hidden;
}

.comment:hover {
    display: flex;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 0 4px 28px white, 0 4px 10px white;
    transition-duration: .5s;
}

.mr-auto {
    margin-right: auto;
}

.mr-20 {
    margin: 0px 20px;
}

.mr-t-10 {
    margin-top: 10px;
}

.mr-t-20 {
    margin-top: 20px;
}

.mrleft-and-right-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-justify {
    text-align: justify;
}

.flex-direction-column {
    flex-direction: column;
}

.block-1 {
    display: flex;
    justify-content: center;
}

.block-2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}